#pwd-criteria {
  background-color: orangered;
  height: auto;
  margin: 0 auto;
  max-width: 300px;
  min-width: 150px;
  padding: 15px;
}

#pwd-length {
  color: green;
}

#char-types {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  border: 3px solid black;
  margin: 10px 0;
  padding: 5px;
}

#char-types ul {
  margin: 0;
}
