#pwd-criteria-card {
  background-color: yellowgreen;
  height: auto;
  margin: 0 auto;
  padding: 15px;
  width: 350px;
}

option {
  direction: rtl;
}

#confirm-and-create-btn {
  display: block;
  margin: 0 auto;
}

#char-type-require-no-selection-msg {
  color: red;
  display: none;
  margin-top: 10px;
}

#char-types {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  border: 3px solid black;
  margin: 10px 0;
  padding: 5px;
}

#char-types ul {
  margin: 0;
}
